.navbar{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    /* flex-wrap: wrap; */
}

/* .navbar:hover{
    background-color:#BA9EDE;
} */


.Navigation-link{
    font-size: 150%;
    color:white;
   
    
}

.Navigation-link:hover{
    background-color: #BA9EDE;
    color:black;
    initial-letter: none;
}