.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #A9E3E3 ;
    width: 100vmax;
   
}


.Navigation-link{
    font-size: 150%;
    white-space: nowrap;
    color: #434342;
    padding:5px;
    font-family: 'Roboto', sans-serif; 
    background-color: rgba(255, 249, 249, 0.65);
    
}
.Navigation-link:hover{
    background-color: #434342;
    color: #A9E3E3;
}

@media (max-width: 700px) {
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #A9E3E3 ;
    }
    .Navigation-link{
        font-size: 100%;
       
        color: #434342;
        padding:5px;
        font-family: 'Roboto', sans-serif; 
        background-color: rgba(255, 249, 249, 0.65);
        
    }
}

