html {
    min-height: 100%;
  }


  #all {
    width: 300%;
    height: 200%; 
    
  }

.view {
    margin: 5px;
    float: left;
    border: 10px solid #A9E3E3;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px rgb(15, 134, 134);
    cursor: default;
}

.view .mask,.view .content {
    width: 300px;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
  }
  
  .view img {
    display: block;
    position: relative
  }
  
  .view h2 {
    color: #434342;
    text-align: center;
    position: relative;
    font-size: 16px;
    font-family: Raleway, serif;
    padding: 10px;
    /*background: rgba(0, 0, 0, 0.8);*/
    /* margin: 5px 0 0 0 */
  }
  
  .view p {
    font-family: Merriweather, serif;
    font-style: italic;
    font-size: 14px;
    position: relative;
    color: #434342;
    /* padding: 0px 10px 0px; */
    text-align: center
  }
  
  .view a.info {
    display: inline-block;
    text-decoration: none;
    /* padding: 7px 14px; */
    background:#434342;
    color: #A9E3E3;
    font-family: Raleway, serif;
    text-transform: uppercase;
    box-shadow: 0 0 1px  #434342;
  }
  
  .view a.info:hover {
    box-shadow: 0 0 5px #434342;
  }

  /*3*/
  
  .view-tenth img {
    transform: scaleY(1);
    transition: all .7s ease-in-out;
  }
  
  .view-tenth .mask {
    background-color: rgba(255, 231, 179, 0.3);
    transition: all 0.5s linear;
    opacity: 0;
  }
  
  .view-tenth h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 40px 0px 40px;
    transform: scale(0);
    color: #434342;
    transition: all 0.5s linear;
    opacity: 0;
  }
  
  .view-tenth p {
    color: #434342;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
    /* padding- */
  }
  
  .view-tenth a.info {
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s linear;
  }
  
  .view-tenth:hover img {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0;
  }
  
  .view-tenth:hover .mask {
    opacity: 1;
  }
  
  .view-tenth:hover h2,
  .view-tenth:hover p,
  .view-tenth:hover a.info {
    transform: scale(1);
    opacity: 1;
  }