
/* clases comunes */
/* contenedor comun */
.large-container{
    background-color: #fffffb;
    height: 100vh;
}
.test{
    display:flex;
    flex-direction: row;
  margin-left: 35%;
}
.img-test{
    width: 10%;
    height: 15%;
    margin-left: 40%;
    margin-top: 1%;
    margin-right: 0;
    transform: rotate(-40deg);
 
}
/* HOME */
.container{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    color: #434342;
    background-color: #fffffb;
    font-family: 'Roboto Slab', serif;
    font-weight:Regular;

}

/* .text-contact{
    background-color: rgba(255, 249, 249, 0.65);
    padding:1em;
   
} */



.name{
    color: #434342;
    font-size: 400%;
}
.name2{
    margin-top: 1em;
    
}
.contacs{
    display:flex;
    flex-direction: row;
}
.teext{
    font-size: 15px;
}

a{
    font-size: 25px;
    margin:10px;
    color: #434342;
    border: 1px solid #434342;
    text-decoration: none;
    background-color: rgba(255, 249, 249, 0.65);
    padding:0.5%;
}
a:hover{
    background-color: #434342;
    color: #A9E3E3;
    
}

i{

    color: #434342;
    margin:3px;
 }
 
i:hover{
    background-color: #434342;
    color: #A9E3E3;
}

.img-triangulos{
    height: 30%;
    width: 20%;
    padding:2%;
  margin-top: 2%;
}


/* PROJECT */
.headline{
    text-align: center;
    font-size:120%;
    margin-top: 9%;
    margin:4%;
    color: #434342;
    font-family: 'Roboto Slab', serif;
    font-weight:Regular;
    text-decoration: underline    solid #A9E3E3 ;
    /* border: 1px solid #434342; */

}
.content-project{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin-top: 5%;

}



/* view about */
.content-about{
    display: flex;
  
}
.img-about{
    width: 100%;
    padding:3%;
    background-color: rgb(140, 204, 204);
    margin-left: 2%;
    
}


.description{
   

    /* width: 500px;
    height: 50vh; */
    text-align: left;
    align-items: center;
    color: #434342;
    font-size: 120%;
    padding: 5%;
    font-family: 'Roboto Slab', serif;
    font-weight:Regular;


    
}
/* .photo: :hover{
    background:url("pmusic")
} */

.container-project{
    display:flex;
    flex-direction: column;
}

