body {
  margin: 0;
  /* font-family:'Roboto', sans-serif; */
  font-family: 'Courgette', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fffffb;

  color: white;
}

code {
  font-family: 'Courgette', cursive;
}
